# SESION 3
## EXTRAS
#### Generar un DF con una o varias tablas de una URL diferente a las vistas en la sesión
#### Generar un DF de alumnos o alumnas de la tabla alumnos de la base bdcolegio02 del servidor bd.arcelia.net

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#DF con varias tablas de un html
mi_url = 'https://es.wikipedia.org/wiki/Santa_Elena,_Ascensi%C3%B3n_y_Trist%C3%A1n_de_Acu%C3%B1a'
df_mi_html = pd.read_html(mi_url)
print("Numero de tablas: ",len(df_mi_html))
df_mi_html[3]

Numero de tablas:  6

,Administrativa Área,Área km²,Población (2016),Centro administrativo
0,Santa Elena,122,4534,Jamestown
1,Isla Ascensión,88,806,Georgetown
2,Tristán de Acuña,184,293,Edimburgo de los Siete Mares
3,Total,394,5633,Jamestown

In [3]:
us = 'fesalu'
passwd = 'bdfes2023'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegio02'
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)
str_conn

'mysql+mysqlconnector://fesalu:bdfes2023@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password'

In [6]:
conn = create_engine(str_conn)
conn

Engine(mysql+mysqlconnector://fesalu:***@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password)

In [5]:
sql = '''SELECT * FROM alumnos WHERE SEXO = %s '''
#SELECT * FROM Alumnos WHERE DATE(fnac) >= '2000-01-01'
df_mysql = pd.read_sql_query(sql=sql, con=conn,params=['M'])
df_mysql

,clave_alu,clave_admin,ap_paterno,ap_materno,nombre,sexo,curp,peso,estatura,direccion,colonia,cp,ciudad,id_estado,delegacion,telefono,celular,email,status_alu,fedita
0,11030177,4716,FERRUSCA,ANDRADE,OCTAVIO,M,,62.0,1.68,MARQUES DE BARCELO #608,LOMAS DEL MARUQES,26146,QUERETARO,22,QUERETARO,4458114845,9618114845,tavoferrus_11@miemail.com,AC,2021-10-15 16:23:00
1,11030178,4720,GARCIA,GOMEZ,RAFAEL,M,220140190055288,55.0,1.82,PAJAROS # 687,CALESA SEGUNDA SECCION,26020,QUERETARO,22,QUERETARO,4451986967,9611986967,arobertogarcia@telmart.net.mx,AC,2021-10-25 09:22:33
2,11030180,5380,GUTIERREZ,FLORES,CARLOS DAVID,M,GUFC910124HDFTLR04,60.0,1.75,CIRCUITO SAN IGNACIO 670 INT 6,FRACCIONAMIENTO SANTIAGO,26129,QUERETARO,22,SANTIAGO DE QUERETARO,4455558865,9612558865,chorok_skp91@miemail.com,AC,2021-09-27 21:52:05
3,11030188,4857,MARTINEZ,RIVERA,JAVIER JOSUE,M,MARJ910422HQTRVV01,52.0,1.66,ASUNCION NO. 698,EL ROSARIO,26128,QUERETRO,22,QUERETARO,0444458817907,0449618817907,c_h_a_p_a_r_r_o-pi_cha_ka@miemail.com,AC,2022-10-11 20:23:14
4,11030199,4769,ROSALES,APREZA,NESTOR MARTIN,M,,53.0,1.63,RIO BALSAS #707,LOS ARQUITOS,26050,QUERETARO,22,QUERETARO SUR,0444458591085,0449618291082,nestoriwh@hotmai.com,AC,2021-09-22 17:57:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,11080203,,VILLAGRANA,BARRAGAN,CARLOS IVAN,M,VIBC911114HDFLRR06,61.0,1.72,MARQUES DE LAS AMARILLAS NO. 687,LOMAS DEL MARQUES,26146,QUERETARO,22,SANTIAGO DE QUERETARO,4458517765,9618517765,chino-vergoza@miemail.com,AS,2023-03-08 16:53:59
395,11080204,,AGUILLON,RESENDIZ,JOSE,M,AURJ941216HQTGSS06,57.0,160.00,EULOGIO MARROQUIN 707,CANDILES,26190,QUERETARO,22,CORREGIDORA,4458170450,9618170420,blackjarrior_9412@miemail.com,AS,2023-03-10 11:05:13
396,11080206,,NAVA,TORRES,LEONARDO JESUS,M,NATL9408HDFVRN05,0.0,0.00,PASEO DE MOSCU #868,TEJEDA,26190,QUERETARO,22,SANTIAGO DE QUERETARO,4458770708,9618770708,leo94-88@infinitum.com.mx,AS,2023-03-11 19:56:28
397,11080207,,LOPEZ,AGUILAR,DANIEL,M,LOAD940404HBCPGN06,0.0,0.00,HDA DE LOS MORALES # 707,RINCON DE LOS ARCOS,36636,IRPUATO,12,IRAPUATO,4651551906,4621251906,marydm72@miemail.com,AS,2023-03-07 11:17:06
398,11080210,,GUERRERO,COLOMBRES,ALDO ENRICO,M,GUCA960125HDFRLL09,44.0,1.59,AVENIDA PE,SAN PEDRITO PE,,SANTIAGO DE QUERETARO,22,,5585511084,5582211084,colombresm@att.com.mx,AS,2023-04-15 20:48:37